html, body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #282c34;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  padding: 20px 20%;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-bottom: 40px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:active, a:visited {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: 80vh;
}